<div id="app">
  <div id="profiles">
    <div class="profile">
      <div class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="https://scontent.fgua5-1.fna.fbcdn.net/v/t39.30808-6/313437459_2248874731949131_5236796579922304018_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=dK5MY3qWGy4AX_qLAjz&tn=Z9L-yfbkdp5berJm&_nc_ht=scontent.fgua5-1.fna&oh=00_AfDALcbxravE1Alv8A8nxMCgwbEOYV8oCfJYTRxk94kUVw&oe=636565A4" alt="Foto Javier"/>
        </div>
        <h3 class="profile-name">JAVIER</h3>
      </div>
    </div>

    <div class="profile">
      <div class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" alt="Foto Kevin" src="https://scontent.faqb1-1.fna.fbcdn.net/v/t1.6435-9/47285172_1126418257528123_4759573940135788544_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=PA7_ygHfjsEAX9ywIBO&_nc_ht=scontent.faqb1-1.fna&oh=00_AfB8cCmYz3Odo7hnXeIS-YKJ5NpvksD1_lLRR3euojpCLw&oe=63875F8B"/>
        </div>
        <h3 class="profile-name">KEVIN</h3>
    </div>
  </div>
</div>
