<div class="container">
  <div class="card">
    <div class="left-column background1-left-column">
      <h6>FrontEnd</h6>
      <h2>GitHub</h2>
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </div>

    <div class="right-column">
      <div>
        <h4>Usuario GitHub</h4>
        <h6>Kevinisky27</h6>
      </div>
      <h2>Diseño de interfaz de usuario</h2>
      <p>Repositorio donde se encuentra disponible la parte del FrontEnd de nuestra aplicación web.</p>
      <button class="button background1-left-column">Vizualizar</button>
    </div>
  </div>

  <div class="card">
    <div class="left-column background2-left-column">
      <h6>API</h6>
      <h2>GitHub</h2>
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </div>

    <div class="right-column">
      <div>
        <h4>Usuario GitHub</h4>
        <h6>JavierMarSan18</h6>
      </div>
      <h2>API Desarrollada</h2>
      <p>Repositorio donde se encuentra disponible la parte del API donde nuestra un programa de generación de palabras.</p>
      <button class="button background1-left-column">Vizualizar</button>
    </div>
  </div>

  <div class="card">
    <div class="left-column background2-left-column">
      <h6>BackEnd</h6>
      <h2>GitHub</h2>
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </div>

    <div class="right-column">
      <div>
        <h4>Usuario GitHub</h4>
        <h6>JavierMarSan18</h6>
      </div>
      <h2>Software</h2>
      <p>Repositorio donde se encuentra disponible la parte del funcionamiento de los autómatas finitos.</p>
      <button class="button background1-left-column" href="">Vizualizar</button>
    </div>
  </div>
</div>
